@import url("custom-checkbox.css");
/*
--- TABLE OF CONTENTS ---
1. HTML/BODY elements & general margin/padding & width/height settings
2. HEADER element
3. MAIN element
   i. Input Box (Uses css grid: 3 columns)
      a. Toggle all checkbox
      b. Text Input
      c. Empty column (included for symmetry with the list of todo items.)
   ii. Todo items (Uses css grid: 3 columns)
       a. Toggle completed/uncompleted checkbox
       b. Todo Text (editable)
       c. Delete todo button
4. FOOTER element
   i. Todo item count (*uncompleted)
   ii. Filters (All, Active/Uncompleted, Completed)
   iii. Clear completed button (only appears if every item is completed)
5. BUTTON element
6. STATE Classes (classes that you toggle on/off to indicate state changes in
   html elements)
7. Style Classes (classes that encapsulate similar styles needed across
   different html elements)
8. Media queries
*/

/* --- 1 --- */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  padding-bottom: 2.0rem;
  text-align: center;
}

main,
footer {
  margin: 0 auto;
  max-width: 650px;
}

/* --- 2 --- */
header {
  background-color: #04b4ae;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #000;
  font-size: 2rem;
  height: 60px;
  margin-bottom: 30px;
}

/* Can only get the text to center vertically using a div. Why?*/
header div {
  padding: 10px;
}

/* --- 3.i.b --- */
#addTodoTextInput {
  background-color: #fff;
  border: none;
  width: 100%;
}

#addTodoTextInput::-webkit-input-placeholder {
  color: #e6e6e6;
}

/* --- 3.ii ---*/
#todoItems {
  margin: 0;
  padding: 0;
}

/* ---3.ii.b---*/
.textLabel {
  align-self: stretch;
  align-items: center;
  display: flex;
  word-break: break-word;
}

.textLabel:focus {
  outline: solid 1px #33b5e5;
}

/* ---3.ii.c--- */
.deleteBtn {
  color: #cc9a9a;
  font-size: 20px;
  font-weight: 600;
}

.deleteBtn:after {
  content: "x";
}

.deleteBtn:hover {
  color: #bf0000;
}

/* --- 4 --- */
footer {
  color: #777;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  height: 50px;
}

/* ---4.i--- */
#itemCount {
  align-items: center;
  display: flex;
  margin: 0 1.0rem;
  text-align: left;
}

/* ---4.ii--- */
#filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0px;
  padding-left: 0px;
}

#filters button {
  padding: 4px 8px;
}

/* ---4.iii--- */
#clearCompleted {
  display: inline-block;
}

#clearCompleted:hover {
  text-decoration: underline;
}

/* ---5--- */
button {
  background: none;
  border: 0;
  color: inherit;
  font-size: 16px;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* ---6--- */
.invisible {
  visibility: hidden;
}

.selected {
  border: 1px solid #808080;
}

.completed {
  text-decoration: line-through;
}

/* ---7--- */
.bar {
  align-items: center;
  border-bottom: 1px solid #ededed;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  min-height: 65px;
}

.textBar {
  font-size: 24px;
  margin-left: 16px;
  text-align: left;
}

.todoBackground {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

:focus {
  outline: none;
}

/* ---8--- */
@media (max-width: 650px) {
  footer, #clearCompleted {
    font-size: 12px;
  }

  main, footer, #addTodoTextInput {
    width: 80%;
  }
}
