@import url("custom-checkbox.css");

html, body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  text-align: center;
  width: 100%;
  background-color: #f0f8ff;
}

h1 {
  font-weight: 100;
  font-size: 100px;
}

header {
  height: 60px;
  background-color: #04B4AE;
  color: white;
  font-size: 2rem;
  margin-bottom: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header div {
  vertical-align: middle;
  padding: 10px;
}

#addTodoTextInput, .todo-item {
  height: 65px;
  font-size: 24px;
}

#addTodoTextInput {
  border: none;
}

#addTodoTextInput:focus {
  outline: none;
}

#todoItems li {
  text-align: left;
  min-height: 65px;
  height: auto;
  border-bottom: 1px solid #ededed;
}

#todoItems li:first-child {
  border-top: 1px solid #ededed;
}

#todoItems li:last-child {
  border-bottom: none;
}

#filters {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  padding-left: 0px;
}

#filters li {
  display: inline-block;
  padding: 4px 8px;
}

.selected {
  border: 1px solid #808080;
}

footer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  background-color: #fff;
  width: 33%;
  height: 50px;
  visibility: hidden;
  border-top: 1px solid #ededed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  color: #777;
}

span {
  float: left;
  vertical-align: middle;
}

#toggleAllCheckbox, #shownToggleAllCheckbox {
  visibility: hidden;
}

#inputBox {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  width: 33%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#todoItems {
  background-color: white;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 33%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#todoItems li {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.todoItemCompleted {
  text-decoration: line-through;
  color: #d9d9d9;
}

.invisible {
  visibility: hidden;
}

.deleteButton {
  font-size: 18px;
  font-weight: 600;
  color: #cc9a9a;
}

.deleteButton:after {
  content: "x";
}

.deleteButton:hover {
  color: #bf0000;
}

button {
  border: 0;
  background: none;
}

button:focus {
  outline: none;
}

.textLabel {
  word-break: break-all;
}

#itemCount {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 20px;
}

#clearCompleted {
  display: inline-block;
  color: inherit;
  font-size: 16px;
}

#clearCompleted:hover {
  text-decoration: underline;
}
