@import url("custom-checkbox.css");

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  text-align: center;
  width: 100%;
  background-color: #f0f8ff;
}

h1 {
  font-weight: 100;
  font-size: 100px;
}

header {
  height: 60px;
  background-color: #04B4AE;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  margin-bottom: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header div {
  vertical-align: middle;
  padding: 10px;
}

#addTodoTextInput, .todo-item {
  height: 65px;
  font-size: 24px;
}

#addTodoTextInput {
  border: 1px solid blue;
}

.todo-item {
  border-bottom: 1px solid black;
}

#todoItems li {
  text-align: left;
  min-height: 65px;
  height: auto;
}

#filters {
  list-style: none;
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
}

#filters li {
  display: inline-block;
/*   border: 1px solid black; */
}

.selected {
  border: 1px solid black;
}

footer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  background-color: #fff;
  border: 1px solid black;
  width: 33%;
  height: 50px;
  visibility: hidden;
}

span {
  float: left;
  vertical-align: middle;
}

#toggleAllCheckbox, #shownToggleAllCheckbox {
  visibility: hidden;
}

#inputBox {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  width: 33%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #fff;
}

#todoItems {
  background-color: white;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
  width: 33%;
}

#todoItems li {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.todoItemCompleted {
  text-decoration: line-through;
  color: #d9d9d9;
}

.invisible {
  visibility: hidden;
}

.deleteButton {
  font-size: 18px;
  font-weight: 600;
  color: #cc9a9a;
}

.deleteButton:after {
  content: "x";
}

.deleteButton:hover {
  color: #eab8b8;
}

button {
  border: 0;
  background: none;
}
